@import "./variables.scss";
@import "./font-face.scss";

* {
  box-sizing: border-box;
}

html {
  color: $color-black;
  font-family: $font-family-text;
  font-size: 16px;
}

body {
  background-color: transparentize($color-black, 0.94);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: $font-family-heading;
}

h1 {
  font-size: 4rem;
  margin-top: 0.5em;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5,
h6 {
  font-size: 1rem;
}

a {
  color: $color-primary;
  text-decoration: none;
  transition: color $transition-delay ease-out;

  &:hover {
    color: $color-red;
  }
}

img {
  border-style: none;
}

img,
svg {
  vertical-align: middle;
}

main {
  padding: 1rem 1rem 0;
  width: 100%;
}

.card {
  background-color: $color-white;
  border-radius: 1rem;

  h2 {
    margin-top: 0;
  }
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

.container {
  display: grid;
  justify-items: center;
}

.bands {
  display: flex;
  flex-wrap: wrap;
}

.badge {
  background-color: $color-primary;
  color: $color-white;
  display: inline;
  margin: 0 0.4em 0.4rem 0;
  border-radius: 0.3em;
  padding: 0.1rem 0.5em;
  white-space: nowrap;
  transition: background-color $transition-delay ease-out;

  &:hover {
    background-color: transparentize($color-black, 0.8);
    background-image: none;
    color: $color-white;
  }
}

.map-box {
  display: flex;
  height: calc(100vh - 162px);
  width: 100%;
}

@media screen and (min-width: 768px) {
  main {
    margin: 0 auto;
    width: 64rem;
  }
}
