@use "sass:color";
@use "./variables.scss";
@use "./font-face.scss";

* {
  box-sizing: border-box;
}

html {
  color: variables.$color-black;
  font-family: variables.$font-family-text;
  font-size: 16px;
}

body {
  background-color: color.adjust(
    variables.$color-black,
    $alpha: -0.94,
    $space: hsl
  );
  hyphens: auto;
  margin: 0;
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: variables.$font-family-heading;
}

h1 {
  font-size: 4rem;
  margin: 0.5em 0;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5,
h6 {
  font-size: 1rem;
}

a {
  color: variables.$color-primary;
  text-decoration: none;
  transition: color variables.$transition-duration ease-out;

  // This hover color applies to text links only.
  // Button-styled links override this via btn-primary/btn-secondary mixins
  // which explicitly set color on hover.
  &:hover {
    color: variables.$color-black;
  }
}

img {
  border-style: none;
}

img,
svg {
  vertical-align: middle;
}

main {
  padding: 1rem 1rem 0;
  margin: 0 auto;
  width: 100rem;
  max-width: 100%;

  > h2 {
    text-align: center;
  }
}

.card {
  background-color: variables.$color-white;
  border-radius: 1rem;

  h2 {
    margin-top: 0;
  }
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

.container {
  display: grid;
  justify-items: center;
}

.bands {
  display: flex;
  flex-wrap: wrap;
}

.map-wrapper {
  position: relative;

  &--fullscreen {
    background: variables.$color-white;
    inset: 0;
    position: fixed;
    z-index: 9999;

    .mapid {
      border-radius: 0;
      height: 100vh;
    }
  }

  &__fullscreen-btn {
    background: variables.$color-white;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.4rem 0.75rem;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10000;

    &:hover {
      background: #f0f0f0;
    }
  }
}

.mapid {
  display: flex;
  height: calc(100vh - 162px);
  width: 100%;
}

footer {
  color: color.adjust(variables.$color-black, $alpha: -0.5, $space: hsl);
  font-size: 0.7em;
  text-align: center;
}

h1,
h2 {
  > .badge {
    margin-left: 0.4em;

    &:has(.badge) {
      font-size: 0.8em;
    }
  }
}

.badge {
  background-color: color.adjust(
    variables.$color-black,
    $alpha: -0.8,
    $space: hsl
  );
  border-radius: 0.3em;
  color: variables.$color-white;
  display: inline;
  margin: 0 0.4em 0.4em 0;
  padding: 0.1em 0.5em;
  transition: background-color variables.$transition-duration ease;

  &:hover {
    color: variables.$color-white;
  }

  &:has(.badge) {
    padding-left: 0;
    font-size: 2em;
    font-weight: bold;

    .badge {
      padding: 0.2em 0.5em;
      font-weight: bold;
    }
  }
}

.bg-primary {
  background-color: variables.$color-primary;

  &:hover {
    background-color: color.adjust(variables.$color-primary, $lightness: -10%);
  }

  &:focus-visible {
    outline: 2px solid variables.$color-primary;
    outline-offset: 2px;
  }

  &:active {
    background-color: color.adjust(variables.$color-primary, $lightness: -15%);
  }
}

@media screen and (min-width: 768px) {
  main {
    margin: 0 auto;
    width: 55rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
