@import "./variables.scss";
@import "./font-face.scss";

* {
  box-sizing: border-box;
}

html {
  color: $color-black;
  font-family: $font-family-text;
  font-size: 16px;
}

body {
  background-color: transparentize($color-black, 0.94);
  hyphens: auto;
  margin: 0;
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: $font-family-heading;
}

h1 {
  font-size: 4rem;
  margin: 0.5em 0;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5,
h6 {
  font-size: 1rem;
}

a {
  color: $color-primary;
  text-decoration: none;
  transition: color $transition-duration ease-out;

  // TODO: Fix hover colour for tags.
  &:hover {
    color: $color-black;
  }
}

img {
  border-style: none;
}

img,
svg {
  vertical-align: middle;
}

main {
  padding: 1rem 1rem 0;
  margin: 0 auto;
  width: 100rem;
  max-width: 100%;
  
  > h2 {
    text-align: center;
  }
}

.card {
  background-color: $color-white;
  border-radius: 1rem;

  h2 {
    margin-top: 0;
  }
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

.container {
  display: grid;
  justify-items: center;
}

.bands {
  display: flex;
  flex-wrap: wrap;
}

.mapid {
  display: flex;
  height: calc(100vh - 162px);
  width: 100%;
}

footer {
  color: transparentize($color-black, 0.5);
  font-size: 0.7em;
  text-align: center;
}

h1,
h2 {
  > .badge {
    margin-left: 0.4em;

    &:has(.badge) {
      font-size: 0.8em;
    }
  }
}

.badge {
  background-color: transparentize($color-black, 0.8);
  border-radius: 0.3em;
  color: $color-white;
  display: inline;
  margin: 0 0.4em 0.4em 0;
  padding: 0.1em 0.5em;

  &:has(.badge) {
    padding-left: 0;
    font-size: 2em;
    font-weight: bold;

    .badge {
      padding: 0.2em 0.5em;
      font-weight: bold;
    }
  }
}

.bg-primary {
  background-color: $color-primary;
}

@media screen and (min-width: 768px) {
  main {
    margin: 0 auto;
    width: 55rem;
  }
}
