@use "sass:color";
@use "../../styles/variables.scss";

@keyframes bar-grow {
  from {
    width: 0;
  }
}

.barchart {
  overflow: hidden;

  h4 {
    font-size: 0.8em;
    display: block;
    margin: 0 0 0.2em 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 0.2em;
      color: variables.$color-black;
      font-size: 0.7em;
      max-width: 100%;
      white-space: nowrap;
      position: relative;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) .bar {
          animation-delay: #{($i - 1) * 50}ms;
        }
      }

      .bar {
        background-color: color.adjust(
          variables.$color-black,
          $alpha: -0.8,
          $space: hsl
        );
        border-radius: 0.3em;
        display: block;
        position: absolute;
        animation: bar-grow variables.$transition-duration-slow variables.$transition-easing-decelerate both;
      }

      .text {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.03em 0.5em;
        position: relative;

        a {
          color: variables.$color-black;

          &:hover {
            color: variables.$color-primary;
          }
        }
      }
    }
  }
}
