@import "../../styles/variables.scss";

header {
  background-color: $color-white;

  h1 {
    margin-bottom: 0.5em;
    padding: 0 1rem;
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 1rem;
    width: 100%;

    a {
      color: $color-black;
      font-weight: bold;
    }
  }
}
