@use "../../styles/variables.scss";

header {
  background-color: variables.$color-white;

  h1 {
    margin-bottom: 0.5em;
    padding: 0 1rem;
    text-align: center;
  }

  nav {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 0 1rem 1rem;
    width: 100%;

    a {
      color: variables.$color-black;
      font-weight: bold;
    }
  }
}
