@use "../../../../src/styles/variables.scss";

.new-concert {
  padding: 2rem 1rem;

  h1 {
    font-family: variables.$font-family-heading;
    font-size: 2rem;
    margin: 0 0 0.5rem;
  }

  &__subtitle {
    color: #666;
    margin: 0 0 2rem;
  }
}
