@use "../../styles/variables.scss";

.concert-list-infinite {
  width: 100%;
  &__load-earlier {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;

    .load-earlier-btn {
      background: variables.$color-white;
      border: 2px solid rgba(68, 68, 68, 0.15);
      border-radius: 2rem;
      padding: 0.75rem 1.5rem;
      font-size: 0.875rem;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s ease;
      color: #666;

      &:hover:not(:disabled) {
        border-color: rgba(68, 68, 68, 0.3);
        color: #333;
      }

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }

  &__sentinel {
    height: 1px;
    width: 100%;
  }

  &__end,
  &__empty {
    text-align: center;
    color: #666;
    padding: 2rem;
    font-style: italic;
  }
}
