@import "../../styles/variables.scss";

.concert-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "image image map map"
    "body body body body";
  overflow: hidden;
  margin-bottom: 1rem;

  &.future {
    background-image: repeating-linear-gradient(
      120deg,
      $color-white,
      $color-white 1rem,
      transparentize($color-black, 0.95) 1rem,
      transparentize($color-black, 0.95) 2rem
    );

    .concert-card-image {
      opacity: 0.7;
    }
  }

  &:not(.future) {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2rem 0;
  }

  .concert-card-image {
    background-image: radial-gradient(
      transparentize($color-primary, 0.5),
      transparentize($color-red, 0.5)
    );
    display: block;
    grid-area: image;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .concert-card-body {
    grid-area: body;
    padding: 2rem 1rem;

    .card-title {
      text-shadow: -1px 0 $color-white, 0 1px $color-white, 1px 0 $color-white,
        0 -1px $color-white;
    }
  }

  .concert-card-map {
    grid-area: map;
  }
}

@media screen and (min-width: 768px) {
  .concert-card {
    grid-template-areas: "image body body map";
  }
}
