@use "../../styles/variables.scss";
@use "../../styles/buttons.scss" as buttons;

.email-form {
  text-align: left;

  &__error {
    background-color: #fee;
    border: 1px solid #fcc;
    border-radius: 8px;
    color: variables.$color-red;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    padding: 0.75rem 1rem;
  }

  &__resend-link {
    color: variables.$color-primary;
    display: block;
    font-weight: 500;
    margin-top: 0.5rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__field {
    margin-bottom: 1rem;

    label {
      display: block;
      font-size: 0.875rem;
      font-weight: 500;
      margin-bottom: 0.375rem;
    }

    input {
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 6px;
      font-family: variables.$font-family-text;
      font-size: 1rem;
      padding: 0.75rem;
      transition: border-color variables.$transition-duration ease;
      width: 100%;

      &:focus {
        border-color: variables.$color-primary;
        outline: none;
      }
    }
  }

  &__forgot {
    margin-bottom: 1.5rem;
    text-align: right;

    a {
      color: variables.$color-primary;
      font-size: 0.875rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__submit {
    @include buttons.btn-primary;
    width: 100%;
  }

  &__switch {
    color: #666;
    font-size: 0.875rem;
    margin-top: 1rem;
    text-align: center;

    a {
      color: variables.$color-primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
